apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.container.name }}-secrets
type: Opaque
data:
  {{ $environment := .Values.environment }}
  secrets.yaml: {{ "temp-ENV-secrets.yaml" | replace "ENV" .Values.environment | .Files.Get  | b64enc }}
